body{
  background-color:pink;
  display:flex;
  align-items:center;
  justify-content:center;
  flex-wrap:wrap;
}
#lay1{
  display:flex;
  flex-wrap:wrap;
  align-items:center;
  justify-content:center;
}
#lay2{
  display:flex;
  align-items:center;
  justify-content:center;
  flex-wrap:wrap;
}
.but1{
  height:40px;
  width:100px;
  color:black;
  border:black 3px solid;
  margin:7px
}
.but2{
  height:40px;
  width:100px;
  color:black;
  border:black 3px solid;
  margin:7px
}
.lab1{
  height:30px;
  width:100px;
  color:black;
  border:black 3px solid;
  margin:7px
}
.lab2{
  height:30px;
  width:100px;
  color:black;
  border:black 3px solid;
  margin:7px
}
/* Animation class */
button:active {
  animation: pop 0.3s ease;
}

@keyframes pop {
  0% { transform: scale(1); }
  50% { transform: scale(1.15); }
  100% { transform: scale(1); }
}
